<% if @user.teacher? %>
  <p>Hi <%= @user.first_name %>,</p>

  <p>Welcome to IndieClasse, where fitness professionals have the proper web tools to allow their clients to easily connect to their classes</p>

  <p>We hope IndieClasse keeps you as independent and free as much as your business chose to be,</p>
  IndieClasse Team
  <center><a href="http://www.indieclasse.com">IndieClasse.com</a></center>
<% else %>

  <p>Hi <%= @user.first_name %>,</p>

  <p> Welcome to IndieClasse, where practitioners like you can easily search, sign up, and support your favourite teacher</p>
  <p> You can find classes you've already signed up for in your Dashboard</p>

  <p> Stay indie and free! </p>
  <center><a href="http://www.indieclasse.com">IndieClasse.com</a></center>

<% end %>
