<div class='footer-container'>
    <p>This site is still under construction <i class="fas fa-wrench"></i></p>
    <p>If any questions, comments, concerns, please feel free to <a href='/'><i class="far fa-envelope"></i> katrinarobles@live.com </a></p>
</div>
