<p> Hi <%= @booking.user.first_name %>,</p>
<p> You've booked your class with <%= @booking.occurence.course.teacher %> at <%= @booking.occurence.dateparse.strftime("%^a, %e %^b %H:%M") %></p>
<br><small>If you didn't book this class, please cancel the booking in your dashboard </small>
<center><a href="http://www.indieclasse.com">Indieclasse.com</a></center>
