<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h1> Welcome <%= current_user.first_name %>,</h1>
      <!-- <h1>Pages#home</h1> -->
      <p> This is your dashboard</p>
      <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>

    </div>
  </div>
</div>
