<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h1> Welcome <%= current_user.first_name %>,</h1>
      <!-- <h1>Pages#home</h1> -->
      <p> This is your dashboard</p>

    </div>
  </div>
</div>
