<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h2> <%= @course.name %> </h2>
      <p> <%= @course.description %> </p>
      <p> <%= @course.duration %> minutes</p>
      <p> <%= @course.teacher %></p>
    </div>
  </div>
</div>

