.btn-primary:hover {
    opacity: 0.8;
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 2%;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-icon {
  color: #4A4A4A;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  padding: 0 !important;
}

.btn-icon:hover {
  opacity: 1;
}

.btn-delete {
  color: white;
  background: #8d1416;
}
.btn-delete:hover {
    background: #d32225;
    color: white;
  }

.btn-search {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 1% 12%;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  letter-spacing: 7px;
  transition: opacity 0.3s ease;
}

.padbttm {
  margin-bottom: 100px;
}

.btn-search:hover {
  opacity: 1;
  background-color: white;
}

.btn-login {
    background-color: #6c6c6c;
    color: white;
}

.btn-login:hover {
    opacity: 0.5;
    color: black;
    border-color: black;
}

.btn-sign-up {
  color: white;
  background-color: #ec7544;
  border-color: #ec7544;
}

.btn-sign-up:hover {
    opacity: 0.8;
    color: #4A4A4A;
}

.btn-clear {
    color: #4A4A4A;
    background-color: white;
    border-color: #4A4A4A;
    margin-right: 1%;
}

.btn-clear2 {
    color: #4A4A4A;
    background-color: white;
    border-color: #4A4A4A;
    margin-right: 4%;
}

.btn-clear:hover {
    color: black;
    border-color: black;

}

.btn-primary-small {
    font-size: 0.375em;
    color: #fff;
    background-color: #167FFB;
    border-color: #167FFB;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
    margin: 2%;
}

.btn-primary-small:hover {
    color: white;
    opacity: 0.7;
}

// .form-btn {
//     margin: 0 13px;
//     display: flex;
//     letter-spacing: 3px;
//      @media (max-width: 600px) {
//     display: block;
//   }
// }

.label-text {
    letter-spacing: 3px;
    // font-weight: bold;
    background: white;
    padding: 3px;
    border: solid 0.1em grey;
}

