.header-container {
  text-align: center;
  margin: 2%
}
.empty-container {
    margin: 10%;
    text-align: center;
}
.main-container {
  display: flex;
  // justify-content: space-evenly;
  width: 100%;


  @media (max-width: 600px) {
    display: block;
    padding-left: 5%;
  }
}

.home-container {
    width: 80%;
    margin: auto;
}

.form-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    // height: 30px;
    margin: 1% auto;
    @media (max-width: 600px) {
    display: block;
    padding-left: 5%;
    }
}

.users-show-container {
    margin: auto;
    width: 90%;
}
