.dashboard-container {
  display: flex;
  // justify-content: space-evenly;
  width: 100%;


  .cards {
    margin: 2%;
    background: white;
    padding: 1%;
    border-radius: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (max-width: 600px) {
    display: block;
  }
}

.header-container {
  text-align: center;
  margin: 2%
}
