@-webkit-keyframes flap-r {
  0%,10%   {  border-top-width: 60px; }
  40%,60%  {  border-top-width: 10px; }
  100%     {  border-top-width: 60px; }
}

@-webkit-keyframes flap-l {
  0%       {  border-bottom-width: 0px; }
  40%,60%  {  border-bottom-width: 40px; }
  100%     {  border-bottom-width: 0px; }
}

@-webkit-keyframes fly {
  0%   {  left: 0%; top:100px;-webkit-transform:scale3d(0.5,0.5,1) }
  100% {  left: 100%; top:100px; -webkit-transform:scale3d(1,1,1) }
}

@-webkit-keyframes bob {
  0%   {  top: 25px; }
  50%   {   top: 0px; }
  100% {  top: 25px; }
}

#pictureframe {
  position:relative;
  width:100px;
  -webkit-animation: fly 7s forwards linear;
}

#shadow {
  position:absolute;
  width: 0px; height: 0px;
  top: 140px; left: 00px;
  border-width: 10px;
  border-left-width:50px;
  border-top-width:0px;
  border-right-width: 40px;
  border-color: transparent;
  border-bottom-color: rgba(210,210,210,0.6);
  border-style:solid;
  -webkit-filter: blur(5px);
}

#shadow:after {
  content: " ";
  position:absolute;
  width: 00px; height: 0px;
  top: 10px; left: -50px;
  border-width: 10px;
  border-left-width:50px;
  border-bottom-width:0px;
  border-right-width: 40px;
  border-color: transparent;
  border-top-color: rgba(210,210,210,0.6);
  border-style:solid;
}

#bird div {
  position:absolute;
}

#bird {
  position:absolute;
  -webkit-animation: bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);
 }


#body1,#body2,#wing-l,#wing-r {
    width: 0px; height: 0px;
    border-color: transparent;
    border-style: solid;
}
#body1 {
  border-width: 15px;
  border-left-width:25px;
  border-top-width:15px;
  border-right-width: 55px;
  border-top-color: #333;
}

#body2 {
  left: 50px; bottom: 0px;
  border-width: 10px;
  border-left-width:5px;
  border-top-width:0px;
  border-right-width: 15px;
  border-bottom-color: #777;
}

#wing-l {
  left: 22px; bottom: 0px;
  border-width: 60px;
  border-left-width:20px;
  border-top-width:0px;
  border-right-width: 6px;
  border-bottom-color: #444;
  -webkit-animation: flap-l 0.7s infinite;
}

#wing-r {
  left: 22px; top:0px;
  border-width: 60px;
  border-left-width:20px;
  border-bottom-width:0px;
  border-right-width: 6px;
  border-top-color: #777;
  -webkit-animation: flap-r 0.7s infinite;
}


#caption {
  position:absolute;
  font-family: courier;
  left:8%;
  bottom: 20%;
  color: white;
}


.landing-text-div {
  margin: 0 auto;
}
.landing-text {
    position: relative;
    // top: 20%;
    // left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    font-family:  'Julius Sans One', Arial, sans-serif;
    font-size: calc(10px + 8vw);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    color: grey;
    // background-color: #000;
    // mix-blend-mode: multiply;
    opacity: 0;
    animation: fadeInText 3s 2s ease-out forwards;
}

.landing-text2 {
    position: relative;
    // top: 38%;
    // left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    font-family:  'Julius Sans One', Arial, sans-serif;
    // font-size: calc(10px + 8vw);
    // font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    color: grey;
    // background-color: #000;
    // mix-blend-mode: multiply;
    opacity: 0;
    animation: fadeInText 8s 4s ease-out forwards;
    // @media (max-width: 600px) {
    //     position: absolute;
    //     top: 170px;
    //     left: 17%;
    // }
}

@keyframes scaleImage {
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}

.landing-images {
  width: 70%;
  object-fit: cover;
  @media (max-width: 600px) {
    height: 35vh;
    width: 90%;
    object-fit: cover;
    object-position: 73% 0;
  }
}

.landing-images-fs {
  width: 80%;
  object-fit: cover;
  position: relative;
  @media (max-width: 600px) {
    height: 35vh;
    object-position: 53% 3%;
    width: 90%;
    object-fit: cover;
  }
}
.share-image {
  height: 38vh;
  @media (max-width: 600px) {
    width: 100%;
    object-fit: cover;
  }
}

.footer2 {
  margin-top: 3%;
  padding: 0.5%;
  text-align: center;
  font-size: 0.5em;
  background-color: white;
}
