.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: black;
  }
  a {
    border: 1px solid #dddddd;
    color: #707070;
    text-decoration: none;
    &:hover, &:focus {
      border: solid 1px black;
      color: #4A4A4A;
      background: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
    border-width: 2px;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em
  }
}
