.attendees-list {
  width: 100%;
  th {
    background-color: #f4f4f4;
    margin: 5%;
  }
  td, th {
  padding: 1% 2%;
  }
}

.events-list {
  width: 96%;
  margin: 2%;
  background: #f4f4f4;
  th {
    background: white;
    margin: 5%;
  }
  td, th {
  padding: 1% 2%;
  }

}
